<%- include('header'); %>

    <div class="bg-gray-100">
        <div class="mx-auto max-w-2xl px-4 pb-16 sm:px-6 sm:py-1.5 lg:max-w-7xl ">
            <div class="grid h-3 grid-cols-1 gap-x-4 gap-y-2 sm:grid-cols-2   lg:grid-cols-3 xl:grid-cols-6 xl:gap-x-8 overflow-y-scroll "
                style="height: 90vh;">
                <%if(table[0]){%>
                    <%table.forEach(function(tables,index) { %>
                        <% if (tables.number> 100) {
                            return; // Stop the forEach loop
                            }
                            %>
                            <%if(tables.active){%>
                            <a href="/cashier/menu?tableid=<%=tables.id%>" class="group  text-cente ">
                                <div
                                    class="hover:bg-slate-200<%if(tables.invoice[0]){%> bg-green-200 <%}else{%> bg-white<%}%> aspect-h-1  aspect-w-1 w-full  overflow-hidden rounded-lg  xl:aspect-h-5 xl:aspect-w-5">
                                    <div class="text-center flex flex-col justify-center items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="5em" viewBox="0 0 448 512"><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>                                        <p class="text-black font-bold">زبون رقم  : <%=tables.number%>
                                        </p>
                                    </div>
                                </div>
                            </a>
                            <%}%>
                            <%})}else{%>
                                <div
                                    class="h-8 cursor-pointer flex items-center p-3 hover:bg-orange-300 bg-orange-100   rounded-xl ">
                                    لا يوجد طاولات
                                </div>
                                <%}%>
            </div>
        </div>
    </div>

    <%- include('footer',{currentpage:'cashier'}); %>