<div id="DeleverySetting" class="hidden w-full h-full">
    <form action="/delevery/addelavery" method="POST"
        class="flex flex-col my-4 pb-5 float-right justify-center gap-5 items-center  w-3/4  bg-white p-5 rounded-xl z-50">
        <div class="text-right w-full font-medium text-lg mb-4">
            <a class="text-right">اعدادات الدلفري</a>
        </div>

        <div class="mb-6 w-full">
            <label for="default-input"
                class="block text-right mb-2 text-sm font-medium text-gray-900 dark:text-white">اسم عامل
                النقل</label>
            <input type="text" placeholder="قم بادخال الاسم" name="deliveryname" id="default-input"
                class="bg-gray-50 text-right border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                required>
        </div>

        <div class="mb-6 w-full">
            <label for="default-input"
                class="block text-right mb-2 text-sm font-medium text-gray-900 dark:text-white">رقم عامل
                النقل</label>
            <input type="text" placeholder="قم بادخال رقم عامل التوصيل" name="deliverynumber" id="default-input"
                class="bg-gray-50 text-right border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                required>
        </div>
        <input type="submit" class="w-full h-11 bg-green-300 hover:bg-green-400 rounded-lg cursor-pointer"
            value="اضافة">

    </form>

</div>
